<div class="form-wrapper">
  <div class="header-section">
    <div class="logo login"></div>
    <div class="arrow-holder">
      <div class="arrow-up"></div>
      <div class="arrow-down"></div>
      <div class="arrow-left"></div>
      <div class="arrow-right"></div>
    </div>
  </div>

  <div class="form-section reset">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field login">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Reset" %>
    <div class="restLinks">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>


</div>

  </div>
