<div class="dashboard">

  <%= render 'home/header' %>

  <div class="bottom-wrapper">
    <div class="menu-panel">
      <div class="logout menu-item">
        Logout
      </div>
    </div>
    <div class="userWrapper">
      <div class="user-inner">
        <div class="clearfix">
          <div class="clients-title">
            <h2>Client Overview</h2>
          </div>
          <div class="add-client">
            Edit
          </div>

          <a href="/" class="back-btn">Back</a>
          <%= link_to 'Delete', @client, data: { confirm: "Are you sure?"}, :method => :delete, :class => 'delete-btn'  %>

        </div>
        <div class="client-overview">
          <div class="clearfix">
            <div class="image-area">
              <%= image_tag @client.avatar.url(:medium) %>
            </div>
            <div class="client-details">
              <div class="client-details-line">
                  <span>
                    Name:
                  </span>
                  <span>
                    <%= @client.name %>
                  </span>
              </div>
              <div class="client-details-line">
                  <span>
                    Surname:
                  </span>
                  <span>
                    <%= @client.surname %>
                  </span>
              </div>
              <div class="client-details-line">
                  <span>
                    Gender:
                  </span>
                  <span>
                    <%# @client.gender %>
                  </span>
              </div>
              <div class="client-details-line">
                  <span>
                    Tel:
                  </span>
                  <span>
                    <%= @client.cellnumber %>
                  </span>
              </div>
              <div class="client-details-line">
                  <span>
                    Email:
                  </span>
                  <span>
                    <%= @client.email %>
                  </span>
              </div>
              <div class="client-details-line">
                  <span>
                    Address:
                  </span>
                  <span>
                    <%= @client.address %>
                  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="case-overview">
          <h3>
            Cases
          </h3>

          <div class="case-list">
            <div class="case clearfix heading">
              <div class="reference">
                Reference
              </div>
              <div class="case-title">
                Title
              </div>
              <div class="status">
                Status
              </div>
              <div class="date">
                Date
              </div>
              <div class="actions">
              </div>
            </div>
            <div class="case-items">
              <%= render 'home/caseList' %>
            </div>
          </div>

          <a href="#" class="case-btn">
            Add Case
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="formOverlay client">
  <%= semantic_form_for(@client) do |f| %>
          <h2>Edit client
            <span class="close-form"></span>
          </h2>
          <%= f.input :name %>
          <%= f.input :surname %>
          <%= f.input :cellnumber %>
          <%= f.input :email, as: :string %>
          <%= f.input :address %>
          <%= f.input :avatar, as: :file %>
          <%= f.actions  %>
  <% end %>
</div>
<div class="formOverlay case">
  <form id="case-form">
    <h2>
      Add new Case
      <span class="close-form"></span>
    </h2>

    <label>Case Number</label>
    <input type="text" name="case_number" />

    <label>Title</label>
    <input type="text" name="title" />

    <label>Status</label>
    <input type="text" name="status" />

    <label>Date</label>
    <input type="text" name="date" class="hasDatetimePicker" />

    <input type="hidden" name="client_id" value="<%= @client.id %>" />

    <button class="submit">
      Create
    </button>
  </form>
</div>