<div class="formOverlay">
  <form id="client-form">
    <h2>Add new Client
    <span class="close-form"></span></h2>
    <label>Name</label>
    <input type="text" name="name" />
    <label>Surname</label>
    <input type="text" name="surname" />
    <label>Cell Number</label>
    <input type="text" name="cell" />
    <label>Email</label>
    <input type="text" name="email" />
    <label>Address</label>
    <textarea class="address"></textarea>
    <label>Avatar</label>
    <input type="file" name="avatar" />
     <div class="submit">
       Create
     </div>
  </form>
</div>
<div class="dashboard">

  <%= render 'home/header' %>

  <div class="bottom-wrapper">
    <div class="menu-panel">
      <div class="logout menu-item">
        Logout
      </div>
    </div>
    <div class="userWrapper">
      <div class="user-inner">
        <div class="clients-title">
          <h2>All Clients</h2>
        </div>
        <div class="add-client">
          Add new client
        </div>
        <ul class="user-list">
          <%@clients.each do |client| %>
              <li>
                <%= link_to "" , client_path(client), class: "client_link" %>
                <div class="client-name">
                  <%= client.name + ' ' + client.surname %>
                </div>
                <div class="client-avatar">
                  <%= image_tag(client.avatar.url(:avatar)) %>
                </div>
                <input type="hidden" value="<%=client.id  %>" />
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>