<div class="dashboard">
  <div class="header-section dashboard">
    <div class="logo"></div>
    <div class="mainUser">
      <h2 class="pageTitle">
        Dashboard
      </h2>
      Welcome
      <%= @current.name + ' ' + @current.surname %>
    </div>
    <div class="session-info">
      <%= image_tag(@current.avatar.url(:medium)) %>
      <div class="search-bar">
        <input type="text" name="search" placeholder="client search" />

      </div>
    </div>

  </div>

  <div class="bottom-wrapper">
    <div class="menu-panel">

    </div>
    <div class="userWrapper">
      <div class="user-inner">
        <div class="Clients-title">
          <h2>All Clients</h2>
        </div>
        <ul class="user-list">
          <%@clients.each do |client| %>
              <li>
                <div class="client-name">
                  <%= client.name + ' ' + client.surname %>
                </div>
                <div class="client-avatar">
                  <%= image_tag(client.avatar.url(:medium)) %>
                </div>
                <input type="hidden" value="<%=client.id  %>" />
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>