<div class="form-wrapper">
  <div class="header-section">
    <div class="logo login"></div>
    <div class="arrow-holder">
      <div class="arrow-up"></div>
      <div class="arrow-down"></div>
      <div class="arrow-left"></div>
      <div class="arrow-right"></div>
    </div>
  </div>
<div class="form-section">
    <div id="flash_notice">
      <%= flash[:alert] %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field login">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field login">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field remember">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>

      <div class="restLinks">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>


  </div>
</div>
</div>
